@model List<Technical.UI.Models.BpkpDto>

<div class="bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Show All Bpkps</h1>
    </div>
</div>
<div class="container py-5">
    @if (Model != null && Model.Any())
    {
        <table class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Agreement Number</th>
                    <th>Bpkb Number</th>
                    <th>Bpkb Date</th>
                    <th>Location Name</th>
                    <th>Created By</th>
                </tr>
            </thead>
            <tbody>
                @{
                    int index = 1;
                }
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@index</td>
                        <td>@item.AgreementNumber</td>
                        <td>@item.BpkbNo</td>
                        <td>@item.BpkbDate.ToString("yyyy-MM-dd")</td>
                        <td>@item.LocationName</td>
                        <td>@item.CreatedBy</td>
                    </tr>
                    index++;
                }
            </tbody>
        </table>
    }
    else
    {
        <p>Bpkp Not Found</p>
    }
</div>
